In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv("netflix_titles.csv")

In [3]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,25-Sep-21,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,24-Sep-21,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,24-Sep-21,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,24-Sep-21,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,20-Nov-19,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,8804,TV Show,Zombie Dumb,NaN,NaN,NaN,1-Jul-19,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,1-Nov-19,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,11-Jan-20,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2-Mar-19,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int64
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(2), object(10)
memory usage: 825.8+ KB

In [5]:
for i in df.columns:
    null_rate = df[i].isna().sum() / len(df) * 100 
    if null_rate > 0 :
        print("{} null rate: {}%".format(i,round(null_rate,2)))

director null rate: 29.91%
cast null rate: 9.37%
country null rate: 9.44%
date_added null rate: 0.11%
rating null rate: 0.05%
duration null rate: 0.03%

In [6]:
df.drop(["director", "cast", "date_added", "description"], axis=1, inplace=True)

In [7]:
df

,show_id,type,title,country,release_year,rating,duration,listed_in
0,1,Movie,Dick Johnson Is Dead,United States,2020,PG-13,90 min,Documentaries
1,2,TV Show,Blood & Water,South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,3,TV Show,Ganglands,NaN,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,4,TV Show,Jailbirds New Orleans,NaN,2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,5,TV Show,Kota Factory,India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...
8802,8803,Movie,Zodiac,United States,2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8803,8804,TV Show,Zombie Dumb,NaN,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,8805,Movie,Zombieland,United States,2009,R,88 min,"Comedies, Horror Movies"
8805,8806,Movie,Zoom,United States,2006,PG,88 min,"Children & Family Movies, Comedies"
8806,8807,Movie,Zubaan,India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int64
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   country       7976 non-null   object
 4   release_year  8807 non-null   int64
 5   rating        8803 non-null   object
 6   duration      8804 non-null   object
 7   listed_in     8807 non-null   object
dtypes: int64(2), object(6)
memory usage: 550.6+ KB

In [9]:
df["country"] = df["country"].fillna("unknown")
df["rating"] = df["rating"].fillna("unknown")
df["duration"] = df["duration"].fillna("unknown")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   int64
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   country       8807 non-null   object
 4   release_year  8807 non-null   int64
 5   rating        8807 non-null   object
 6   duration      8807 non-null   object
 7   listed_in     8807 non-null   object
dtypes: int64(2), object(6)
memory usage: 550.6+ KB

In [11]:
df.to_csv('netflix_titles_edited.csv', index=False)

In [12]:
df

,show_id,type,title,country,release_year,rating,duration,listed_in
0,1,Movie,Dick Johnson Is Dead,United States,2020,PG-13,90 min,Documentaries
1,2,TV Show,Blood & Water,South Africa,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,3,TV Show,Ganglands,unknown,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,4,TV Show,Jailbirds New Orleans,unknown,2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,5,TV Show,Kota Factory,India,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
...,...,...,...,...,...,...,...,...
8802,8803,Movie,Zodiac,United States,2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8803,8804,TV Show,Zombie Dumb,unknown,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8804,8805,Movie,Zombieland,United States,2009,R,88 min,"Comedies, Horror Movies"
8805,8806,Movie,Zoom,United States,2006,PG,88 min,"Children & Family Movies, Comedies"
8806,8807,Movie,Zubaan,India,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [13]:
conn = sqlite3.connect('netflix_titles.db')

In [14]:
create_sql = "CREATE TABLE IF NOT EXISTS shows_and_movies (show_id INTEGER PRIMARY KEY, type TEXT, title TEXT, country TEXT, release_year TEXT, rating TEXT, duration TEXT, listed_in TEXT)"

In [15]:
cursor = conn.cursor()

In [16]:
cursor.execute(create_sql)

In [17]:
# for row in df.itertuples():
#     insert_sql = f"INSERT INTO shows_and_movies (show_id, type, title, country, release_year, rating, duration, listed_in) VALUES ({row[1]}, '{row[2]}', '{row[3]}', '{row[4]}', '{row[5]}', '{row[6]}', '{row[7]}', '{row[8]}')"
#     cursor.execute(insert_sql)

In [18]:
df.to_sql(name="shows_and_movies", con=conn, dtype={'show_id': 'INTEGER PRIMARY KEY',
                                                    'type': 'TEXT',
                                                    'title': 'TEXT',
                                                    'country': 'TEXT',
                                                    'release_year': 'INTEGER',
                                                    'rating': 'TEXT',
                                                    'duration': 'TEXT',
                                                    'listed_in': 'TEXT'}, if_exists="replace", index=False)